<html>
<body>
    <div class="login">
       <h1>Insurance Premium Price Predictor</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Insurance Premium Price Predictor</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Enter Your Age</label>
            <input class="form-control" type="number" name="age"
                placeholder="age" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="sex" placeholder="Enter you gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="male">
                    Male
                </option>
                <option value="female">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">BMI</label>
            <input class="form-control" type="number" name="bmi"
                placeholder="Enter your bmi" min='0' max='100' />
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <label class="form-label">No. of Children</label>
                <input class="form-control" type="number" name="children"
                    placeholder="no. of children" min='0' max='10' />
            </div>
            <div class="mb-3">
                <label class="form-label">smoker</label>
                <select class="form-control" name="smoker" placeholder="smoker" required>
                    <option class="placeholder" selected disabled value="">smoker</option>
                    <option value="yes">
                        Yes
                    </option>
                    <option value="no">
                        No
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Region</label>
                <select class="form-control" name="region" placeholder="Enter you region" required>
                    <option class="placeholder" selected disabled value="">Select region</option>
                    <option value="southwest">
                        Southwest
                    </option>
                    <option value="southeast">
                        Southeast
                    </option>
                    <option value="northwest">
                        Northwest
                    </option>
                    <option value="northeast">
                        Northeast
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Predict your Insurance Premium" required />
            </div>
        </form>
        <h2>
           THE  prediction is {{results}}
        </h2>
       <body>
    </html>